<%= form_for(@email_address) do |f| %>
  <% if @email_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_address.errors.count, "error") %> prohibited this email_address from being saved:</h2>

      <ul>
      <% @email_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row collapse">
  	<div class="field small-12 columns">
  		<%= f.label :email, "Sign up for our beta <span>and be the first to try it</span>".html_safe %>
	    <div class="small-9 columns">
	      <%= f.text_field :email, :placeholder => "Email Address" %>
	    </div>
	    <div class="small-3 columns">
	      <%= f.submit "Sign up", class: "button postfix radius" %>
	    </div>
   </div>
  </div>
<% end %>
